.dashboard-sidebar-title{
    padding: 20px;
}

.main-content-container{
    margin-left: 15%;
    padding: 15px;
    width: 85%;
    z-index: 3;
    position: absolute;
}

.dashboard-sidebar{
    height: 100%;
    color: rgb(0, 0, 0);
    /* background: rgb(219, 222, 230); */
    background-image: 
        linear-gradient(
            to bottom right ,
            rgb(255, 255, 255), 
            rgb(247, 245, 248)
        );
}

.dashboard-navbar{
    z-index: 1;

    background-image: 
        linear-gradient(
            to bottom right ,
            rgb(40, 85, 182), 
            rgb(41, 100, 228)
        );
}

.z-index-fix{
    z-index: 3;
}

#brandname{
    margin:0;
    padding:5px;
    font-size: 16px;
}

.poll-link{
    background:transparent;
    padding:5px;
    padding-left:15px;
    transition: background 0.1s linear
}
.poll-link:hover{
    background:rgb(235, 232, 232);
}

.text-align-left{
    text-align:left;
}

.faq-row{
    /* margin:10%; */
    padding-top:10%;
    padding-left:5%;
    padding-right:5%;
}

.card{
    margin:10px;
    padding: 20px;
    box-shadow: none;
    transition: box-shadow 0.1s linear;
}

.card:hover{
    box-shadow: 1px 1px 5px 1px rgba(31, 95, 214, 0.24);
}

.align-content{
    padding-left: 50px;
}